@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot?-6jh21e');
	src:url('fonts/icons.eot?#iefix-6jh21e') format('embedded-opentype'),
		url('fonts/icons.woff?-6jh21e') format('woff'),
		url('fonts/icons.ttf?-6jh21e') format('truetype'),
		url('fonts/icons.svg?-6jh21e#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: middle;
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-network:before {
	content: "\e606";
}
.icon-food:before {
	content: "\e607";
}
.icon-drone:before {
	content: "\e608";
}
.icon-idea:before {
	content: "\e609";
}
.icon-social:before {
	content: "\e60a";
}
.icon-emo-laugh:before {
	content: "\e858";
}
.icon-emo-p:before {
	content: "\e84d";
}
.icon-emo-like:before {
	content: "\e84a";
}
.icon-emo-happy:before {
	content: "\e801";
}
.icon-cc-remix:before {
	content: "\e878";
}
.icon-cc-sa:before {
	content: "\e874";
}
.icon-cc:before {
	content: "\e86f";
}
.icon-cc-by:before {
	content: "\e870";
}
.icon-cc-nc:before {
	content: "\e871";
}
.icon-cc-nd:before {
	content: "\e875";
}
.icon-cc-pd:before {
	content: "\e876";
}
.icon-helicopter:before {
	content: "\e89a";
}
.icon-education:before {
	content: "\e866";
}
.icon-bitcoin:before {
	content: "\e802";
}
.icon-quote:before {
	content: "\201c";
}
.icon-wheelchair:before {
	content: "\267f";
}
.icon-right:before {
	content: "\27a1";
}
.icon-history:before {
	content: "\2941";
}
.icon-left:before {
	content: "\2b05";
}
.icon-up:before {
	content: "\2b06";
}
.icon-down:before {
	content: "\2b07";
}
.icon-user:before {
	content: "\e407";
}
.icon-bars:before {
	content: "\e9a1";
}
.icon-list:before {
	content: "\e9a2";
}
.icon-grid:before {
	content: "\e9a3";
}
.icon-light:before {
	content: "\ea83";
}
.icon-signal:before {
	content: "\eb84";
}
.icon-solar:before {
	content: "\f281";
}
.icon-dna:before {
	content: "\f4c2";
}
.icon-tree:before {
	content: "\1f384";
}
.icon-whale:before {
	content: "\1f41f";
}
.icon-pin:before {
	content: "\1f4cd";
}
.icon-youtube:before {
	content: "\e60f";
}
.icon-facebook:before {
	content: "\e610";
}
.icon-twitter:before {
	content: "\e611";
}
.icon-deviantart:before {
	content: "\e612";
}
.icon-octocat:before {
	content: "\e613";
}
.icon-soundcloud:before {
	content: "\e614";
}
.icon-safari:before {
	content: "\e615";
}
.icon-ie:before {
	content: "\e616";
}
.icon-firefox:before {
	content: "\e617";
}
.icon-chrome:before {
	content: "\e618";
}
.icon-glass:before {
	content: "\f000";
}
.icon-music:before {
	content: "\f001";
}
.icon-search:before {
	content: "\f002";
}
.icon-envelope-o:before {
	content: "\f003";
}
.icon-heart:before {
	content: "\f004";
}
.icon-star:before {
	content: "\f005";
}
.icon-star-o:before {
	content: "\f006";
}
.icon-film:before {
	content: "\f008";
}
.icon-check:before {
	content: "\f00c";
}
.icon-times:before {
	content: "\f00d";
}
.icon-search-plus:before {
	content: "\f00e";
}
.icon-search-minus:before {
	content: "\f010";
}
.icon-power-off:before {
	content: "\f011";
}
.icon-gear:before {
	content: "\f013";
}
.icon-trash-o:before {
	content: "\f014";
}
.icon-home:before {
	content: "\f015";
}
.icon-file-o:before {
	content: "\f016";
}
.icon-clock-o:before {
	content: "\f017";
}
.icon-road:before {
	content: "\f018";
}
.icon-download:before {
	content: "\f019";
}
.icon-inbox:before {
	content: "\f01c";
}
.icon-play-circle-o:before {
	content: "\f01d";
}
.icon-rotate-right:before {
	content: "\f01e";
}
.icon-refresh:before {
	content: "\f021";
}
.icon-list-alt:before {
	content: "\f022";
}
.icon-lock:before {
	content: "\f023";
}
.icon-flag:before {
	content: "\f024";
}
.icon-volume-off:before {
	content: "\f026";
}
.icon-volume-down:before {
	content: "\f027";
}
.icon-volume-up:before {
	content: "\f028";
}
.icon-barcode:before {
	content: "\f02a";
}
.icon-tag:before {
	content: "\f02b";
}
.icon-tags:before {
	content: "\f02c";
}
.icon-book:before {
	content: "\f02d";
}
.icon-bookmark:before {
	content: "\f02e";
}
.icon-print:before {
	content: "\f02f";
}
.icon-camera:before {
	content: "\f030";
}
.icon-font:before {
	content: "\f031";
}
.icon-video-camera:before {
	content: "\f03d";
}
.icon-picture-o:before {
	content: "\f03e";
}
.icon-pencil:before {
	content: "\f040";
}
.icon-map-marker:before {
	content: "\f041";
}
.icon-adjust:before {
	content: "\f042";
}
.icon-tint:before {
	content: "\f043";
}
.icon-edit:before {
	content: "\f044";
}
.icon-share-square-o:before {
	content: "\f045";
}
.icon-play:before {
	content: "\f04b";
}
.icon-pause:before {
	content: "\f04c";
}
.icon-stop:before {
	content: "\f04d";
}
.icon-forward:before {
	content: "\f04e";
}
.icon-fast-forward:before {
	content: "\f050";
}
.icon-step-forward:before {
	content: "\f051";
}
.icon-check-circle:before {
	content: "\f058";
}
.icon-question-circle:before {
	content: "\f059";
}
.icon-info-circle:before {
	content: "\f05a";
}
.icon-crosshairs:before {
	content: "\f05b";
}
.icon-times-circle-o:before {
	content: "\f05c";
}
.icon-check-circle-o:before {
	content: "\f05d";
}
.icon-ban:before {
	content: "\f05e";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-arrow-up:before {
	content: "\f062";
}
.icon-arrow-down:before {
	content: "\f063";
}
.icon-mail-forward:before {
	content: "\f064";
}
.icon-expand:before {
	content: "\f065";
}
.icon-compress:before {
	content: "\f066";
}
.icon-plus:before {
	content: "\f067";
}
.icon-minus:before {
	content: "\f068";
}
.icon-asterisk:before {
	content: "\f069";
}
.icon-exclamation-circle:before {
	content: "\f06a";
}
.icon-gift:before {
	content: "\f06b";
}
.icon-leaf:before {
	content: "\f06c";
}
.icon-fire:before {
	content: "\f06d";
}
.icon-eye:before {
	content: "\f06e";
}
.icon-eye-slash:before {
	content: "\f070";
}
.icon-warning:before {
	content: "\f071";
}
.icon-plane:before {
	content: "\f072";
}
.icon-calendar:before {
	content: "\f073";
}
.icon-random:before {
	content: "\f074";
}
.icon-comment:before {
	content: "\f075";
}
.icon-magnet:before {
	content: "\f076";
}
.icon-chevron-up:before {
	content: "\f077";
}
.icon-chevron-down:before {
	content: "\f078";
}
.icon-retweet:before {
	content: "\f079";
}
.icon-shopping-cart:before {
	content: "\f07a";
}
.icon-folder:before {
	content: "\f07b";
}
.icon-arrows-v:before {
	content: "\f07d";
}
.icon-arrows-h:before {
	content: "\f07e";
}
.icon-bar-chart-o:before {
	content: "\f080";
}
.icon-key:before {
	content: "\f084";
}
.icon-gears:before {
	content: "\f085";
}
.icon-comments:before {
	content: "\f086";
}
.icon-thumbs-o-up:before {
	content: "\f087";
}
.icon-thumbs-o-down:before {
	content: "\f088";
}
.icon-star-half:before {
	content: "\f089";
}
.icon-heart-o:before {
	content: "\f08a";
}
.icon-sign-out:before {
	content: "\f08b";
}
.icon-thumb-tack:before {
	content: "\f08d";
}
.icon-external-link:before {
	content: "\f08e";
}
.icon-sign-in:before {
	content: "\f090";
}
.icon-trophy:before {
	content: "\f091";
}
.icon-upload:before {
	content: "\f093";
}
.icon-lemon-o:before {
	content: "\f094";
}
.icon-phone:before {
	content: "\f095";
}
.icon-square-o:before {
	content: "\f096";
}
.icon-bookmark-o:before {
	content: "\f097";
}
.icon-phone-square:before {
	content: "\f098";
}
.icon-github:before {
	content: "\f09b";
}
.icon-unlock:before {
	content: "\f09c";
}
.icon-credit-card:before {
	content: "\f09d";
}
.icon-rss:before {
	content: "\f09e";
}
.icon-hdd-o:before {
	content: "\f0a0";
}
.icon-bullhorn:before {
	content: "\f0a1";
}
.icon-bell:before {
	content: "\f0a2";
}
.icon-certificate:before {
	content: "\f0a3";
}
.icon-hand-o-right:before {
	content: "\f0a4";
}
.icon-hand-o-left:before {
	content: "\f0a5";
}
.icon-hand-o-up:before {
	content: "\f0a6";
}
.icon-hand-o-down:before {
	content: "\f0a7";
}
.icon-arrow-circle-left:before {
	content: "\f0a8";
}
.icon-arrow-circle-right:before {
	content: "\f0a9";
}
.icon-arrow-circle-up:before {
	content: "\f0aa";
}
.icon-arrow-circle-down:before {
	content: "\f0ab";
}
.icon-globe:before {
	content: "\f0ac";
}
.icon-wrench:before {
	content: "\f0ad";
}
.icon-tasks:before {
	content: "\f0ae";
}
.icon-filter:before {
	content: "\f0b0";
}
.icon-briefcase:before {
	content: "\f0b1";
}
.icon-arrows-alt:before {
	content: "\f0b2";
}
.icon-chain:before {
	content: "\f0c1";
}
.icon-cloud:before {
	content: "\f0c2";
}
.icon-cut:before {
	content: "\f0c4";
}
.icon-copy:before {
	content: "\f0c5";
}
.icon-paperclip:before {
	content: "\f0c6";
}
.icon-save:before {
	content: "\f0c7";
}
.icon-square:before {
	content: "\f0c8";
}
.icon-list-ul:before {
	content: "\f0ca";
}
.icon-list-ol:before {
	content: "\f0cb";
}
.icon-strikethrough:before {
	content: "\f0cc";
}
.icon-underline:before {
	content: "\f0cd";
}
.icon-table:before {
	content: "\f0ce";
}
.icon-magic:before {
	content: "\f0d0";
}
.icon-truck:before {
	content: "\f0d1";
}
.icon-pinterest:before {
	content: "\f0d2";
}
.icon-pinterest-square:before {
	content: "\f0d3";
}
.icon-gplus:before {
	content: "\f0d5";
}
.icon-money:before {
	content: "\f0d6";
}
.icon-columns:before {
	content: "\f0db";
}
.icon-unsorted:before {
	content: "\f0dc";
}
.icon-sort-down:before {
	content: "\f0dd";
}
.icon-sort-up:before {
	content: "\f0de";
}
.icon-envelope:before {
	content: "\f0e0";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-rotate-left:before {
	content: "\f0e2";
}
.icon-legal:before {
	content: "\f0e3";
}
.icon-dashboard:before {
	content: "\f0e4";
}
.icon-comment-o:before {
	content: "\f0e5";
}
.icon-comments-o:before {
	content: "\f0e6";
}
.icon-flash:before {
	content: "\f0e7";
}
.icon-sitemap:before {
	content: "\f0e8";
}
.icon-umbrella:before {
	content: "\f0e9";
}
.icon-paste:before {
	content: "\f0ea";
}
.icon-lightbulb-o:before {
	content: "\f0eb";
}
.icon-suitcase:before {
	content: "\f0f2";
}
.icon-bell-o:before {
	content: "\f0f3";
}
.icon-coffee:before {
	content: "\f0f4";
}
.icon-medkit:before {
	content: "\f0fa";
}
.icon-plus-square:before {
	content: "\f0fe";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-laptop:before {
	content: "\f109";
}
.icon-tablet:before {
	content: "\f10a";
}
.icon-mobile-phone:before {
	content: "\f10b";
}
.icon-circle-o:before {
	content: "\f10c";
}
.icon-spinner:before {
	content: "\f110";
}
.icon-circle:before {
	content: "\f111";
}
.icon-mail-reply:before {
	content: "\f112";
}
.icon-folder-o:before {
	content: "\f114";
}
.icon-folder-open-o:before {
	content: "\f115";
}
.icon-gamepad:before {
	content: "\f11b";
}
.icon-keyboard-o:before {
	content: "\f11c";
}
.icon-terminal:before {
	content: "\f120";
}
.icon-code:before {
	content: "\f121";
}
.icon-reply-all:before {
	content: "\f122";
}
.icon-star-half-empty:before {
	content: "\f123";
}
.icon-location-arrow:before {
	content: "\f124";
}
.icon-crop:before {
	content: "\f125";
}
.icon-code-fork:before {
	content: "\f126";
}
.icon-unlink:before {
	content: "\f127";
}
.icon-question:before {
	content: "\f128";
}
.icon-info:before {
	content: "\f129";
}
.icon-exclamation:before {
	content: "\f12a";
}
.icon-superscript:before {
	content: "\f12b";
}
.icon-subscript:before {
	content: "\f12c";
}
.icon-eraser:before {
	content: "\f12d";
}
.icon-puzzle-piece:before {
	content: "\f12e";
}
.icon-microphone:before {
	content: "\f130";
}
.icon-microphone-slash:before {
	content: "\f131";
}
.icon-shield:before {
	content: "\f132";
}
.icon-calendar-o:before {
	content: "\f133";
}
.icon-fire-extinguisher:before {
	content: "\f134";
}
.icon-rocket:before {
	content: "\f135";
}
.icon-html5:before {
	content: "\f13b";
}
.icon-css3:before {
	content: "\f13c";
}
.icon-anchor:before {
	content: "\f13d";
}
.icon-unlock-alt:before {
	content: "\f13e";
}
.icon-bullseye:before {
	content: "\f140";
}
.icon-ellipsis-h:before {
	content: "\f141";
}
.icon-ellipsis-v:before {
	content: "\f142";
}
.icon-rss-square:before {
	content: "\f143";
}
.icon-play-circle:before {
	content: "\f144";
}
.icon-ticket:before {
	content: "\f145";
}
.icon-minus-square:before {
	content: "\f146";
}
.icon-minus-square-o:before {
	content: "\f147";
}
.icon-level-up:before {
	content: "\f148";
}
.icon-level-down:before {
	content: "\f149";
}
.icon-check-square:before {
	content: "\f14a";
}
.icon-pencil-square:before {
	content: "\f14b";
}
.icon-dollar:before {
	content: "\f155";
}
.icon-rupee:before {
	content: "\f156";
}
.icon-file:before {
	content: "\f15b";
}
.icon-file-text:before {
	content: "\f15c";
}
.icon-dropbox:before {
	content: "\f16b";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-tumblr-square:before {
	content: "\f174";
}
.icon-long-arrow-down:before {
	content: "\f175";
}
.icon-long-arrow-up:before {
	content: "\f176";
}
.icon-long-arrow-left:before {
	content: "\f177";
}
.icon-long-arrow-right:before {
	content: "\f178";
}
.icon-apple:before {
	content: "\f179";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-android:before {
	content: "\f17b";
}
.icon-dribbble:before {
	content: "\f17d";
}
.icon-skype:before {
	content: "\f17e";
}
.icon-foursquare:before {
	content: "\f180";
}
.icon-trello:before {
	content: "\f181";
}
.icon-female:before {
	content: "\f182";
}
.icon-male:before {
	content: "\f183";
}
.icon-bug:before {
	content: "\f188";
}
.icon-vimeo:before {
	content: "\f194";
}
