/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
* {
  padding: 0px;
  margin: 0px;
}
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
::selection {
  background: #ddd0b7;
  color: #ffffff;
}
::-moz-selection {
  background: #ddd0b7;
  color: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: white;
  background: #DDD0B7;
  font-weight: normal;
  color: black;
  font-size: 20px;
  line-height: 1.5em;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  height: 100%!important;
  width: 100%;
  text-align: left;
  -webkit-font-smoothing: antialiased;
}
.wrap {
  max-width: 1200px;
  margin: 0 10px;
  margin: auto;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
}
a:hover {
  text-decoration: underline;
}
header,
section,
footer {
  position: relative;
  padding: 50px 0;
  background-size: cover;
  background-position: middle;
  background-repeat: no-repeat;
}
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: .15em 0;
  font-weight: bold;
  line-height: 1em;
  color: inherit;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 26px;
}
h3 a,
h3 a:hover {
  color: inherit;
}
h4 {
  font-size: 22px;
  margin-bottom: 0;
}
p {
  line-height: 1.5em;
}
.lead {
  font-size: 1.5em;
}
ol,
ul {
  margin: 0 0 15px 25px;
  padding: 0;
}
.list-unstyled {
  margin-left: 0;
}
.list-unstyled li {
  display: block;
}
hr {
  border: 1px solid black;
  opacity: 0.5;
}
code,
pre {
  padding: 0 .5em 1em;
  color: #333;
  border-radius: 4px;
}
code {
  padding: 2px 4px;
  font-size: 0.9em;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
}
pre {
  display: block;
  padding: 15px;
  margin: 0 0 20px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
x-c {
  display: block;
  width: 100%;
  max-width: 1136px;
  margin: auto;
  padding: 0 10px;
  *zoom: 1;
}
x-c:before,
x-c:after {
  content: " ";
  display: table;
  line-height: 0;
}
x-c:after {
  clear: both;
}
x-c[width="expanded"] {
  max-width: 1276px;
}
[position="relative"] {
  position: relative;
}
.wrap {
  max-width: 1200px;
  margin: auto;
  *zoom: 1;
}
.wrap:before,
.wrap:after {
  content: " ";
  display: table;
  line-height: 0;
}
.wrap:after {
  clear: both;
}
x-row {
  margin-left: -15px;
  margin-right: -15px;
  display: table;
  width: 100%;
  margin: 1em -15px;
  *zoom: 1;
}
x-row:before,
x-row:after {
  content: " ";
  display: table;
  line-height: 0;
}
x-row:after {
  clear: both;
}
x-row:before,
x-row:after {
  content: " ";
  display: table;
  line-height: 0;
}
x-row:after {
  clear: both;
}
x-col {
  display: block;
}
x-col[size="1"] {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1136px) {
  x-col[size="1"] {
    float: left;
    width: 8.33333333%;
  }
}
x-col[size="2"] {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1136px) {
  x-col[size="2"] {
    float: left;
    width: 16.66666667%;
  }
}
x-col[size="3"] {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1136px) {
  x-col[size="3"] {
    float: left;
    width: 25%;
  }
}
x-col[size="4"] {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1136px) {
  x-col[size="4"] {
    float: left;
    width: 33.33333333%;
  }
}
x-col[size="5"] {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1136px) {
  x-col[size="5"] {
    float: left;
    width: 41.66666667%;
  }
}
x-col[size="6"] {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1136px) {
  x-col[size="6"] {
    float: left;
    width: 50%;
  }
}
x-col[size="7"] {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1136px) {
  x-col[size="7"] {
    float: left;
    width: 58.33333333%;
  }
}
x-col[size="8"] {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1136px) {
  x-col[size="8"] {
    float: left;
    width: 66.66666667%;
  }
}
x-col[size="9"] {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1136px) {
  x-col[size="9"] {
    float: left;
    width: 75%;
  }
}
x-col[size="10"] {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1136px) {
  x-col[size="10"] {
    float: left;
    width: 83.33333333%;
  }
}
x-col[size="11"] {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1136px) {
  x-col[size="11"] {
    float: left;
    width: 91.66666667%;
  }
}
x-col[size="12"] {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 1136px) {
  x-col[size="12"] {
    float: left;
    width: 100%;
  }
}
.float-left {
  float: left;
}
.margin-center {
  margin: auto;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.narrow {
  max-width: 400px;
}
.medium {
  max-width: 780px;
}
.alert {
  background: #b7023f;
  color: white;
  display: block;
  padding: 8px 16px;
}
.button {
  display: inline-block;
  padding: 10px 12px;
  background-color: #9da4a4;
  border-radius: 6px;
  transition: background-color 300ms ease, color 300ms ease, outline 300ms ease;
  color: white;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  color: white;
  text-decoration: none;
  background-color: #9da4a4;
  transition-delay: initial;
}
.clicky {
  display: inline-block;
  padding: 10px 12px;
  background-color: #9da4a4;
  border-radius: 6px;
  transition: background-color 300ms ease, color 300ms ease, outline 300ms ease;
  color: white;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #b7023f;
  margin-right: 0.5em;
}
.clicky:hover {
  color: white;
  text-decoration: none;
  background-color: #9da4a4;
  transition-delay: initial;
}
.clicky:hover,
.clicky:focus,
.clicky.active {
  background: #ffffff;
  color: #b7023f;
}
.transition-faster {
  transition: all 90ms linear;
  translateZ: 0px;
}
.transition {
  transition: all 180ms linear;
  translateZ: 0px;
}
.transition-longer {
  transition: all 300ms linear;
  translateZ: 0px;
}
.transition-bounce {
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  translateZ: 0px;
}
.transition-bounce-longer {
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  translateZ: 0px;
}
a {
  transition: all 180ms linear;
  translateZ: 0px;
}
section {
  display: block;
  *padding: 100px 0;
  display: flex;
  align-items: center;
}
nav {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9001;
  /* Alt Storyline
  .brand {
    display: inline-block;
    font-size: 1.8em;
    line-height: 50px;
  } */
}
nav .name {
  background: #b7023f;
  top: 0;
  left: 0;
  padding: 0.5em 0.5em 0.35em 0.5em;
  margin: -0.15em 0;
  font-size: 30px;
  display: inline-block;
  transition: all 180ms linear;
  translateZ: 0px;
}
nav span.me:hover .name {
  text-decoration: none;
  background: #d00248;
  margin-top: 0;
  margin: -0.25em 0 -0.35em 0;
}
nav span.me:active .name {
  background: #6b0125;
}
nav x-man {
  font-weight: bold;
}
nav menu {
  display: inline-block;
  margin: 0;
}
nav menu.right {
  float: right;
}
nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
nav li a {
  display: inline-block;
  line-height: 50px;
  padding: 0 1em;
  position: relative;
}
nav li a:after {
  transition: all 90ms linear;
  translateZ: 0px;
  position: absolute;
  content: ' ';
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 0px solid;
}
nav li a:hover,
nav li .active {
  text-decoration: none;
}
nav li a:hover:after,
nav li .active:after {
  border-bottom: 4px solid;
}
nav .twitter a,
nav .github a,
nav .dribbble a {
  padding: 0 0.6em;
}
nav .twitter {
  color: #55acee;
}
nav .github {
  color: #9da4a4;
}
nav .dribbble {
  color: #ea4c89;
}
nav:before {
  content: ' ';
  background: rgba(0, 0, 0, 0.5);
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 9001;
  z-index: 0;
}
header {
  background: #039997;
  color: #ffffff;
  text-align: center;
}
header h1 {
  font-size: 56px;
}
header:first-of-type {
  padding-top: 100px;
}
#masthead {
  height: 95vh;
  min-height: 750px;
  padding-bottom: 500px;
  display: flex;
  background: #293258;
  overflow: hidden;
}
#masthead .clicky {
  background: #ffffff;
  border: 2px solid #ffffff;
  color: #293258;
  display: block;
  min-width: 200px;
  width: 20%;
  margin: 0px auto;
  font-size: 1.2em;
}
#masthead .clicky:hover,
#masthead .clicky:focus,
#masthead .clicky.active {
  background: #293258;
  color: white;
}
#masthead h1 {
  font-size: 72px;
}
x-showcase {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 52vh;
  min-height: 400px;
}
x-showcase .macbook {
  display: inline-block;
  padding: 40px;
  border-radius: 16px;
  border: 3px solid white;
  background: rgba(150, 150, 150, 0.65);
}
x-showcase .macbook img {
  width: 700px;
  max-width: 100%;
  border-radius: 2px;
}
#stories {
  background-image: url(/images/hero_test.png);
  background-size: cover;
  position: relative;
  color: white;
  padding: 10em 0;
}
#stories a:hover {
  text-decoration: none;
}
.bam {
  border-bottom: 2px solid;
}
x-card {
  background: white;
  color: black;
  padding: 8px;
  display: block;
  cursor: pointer;
  transition: all 180ms linear;
  translateZ: 0px;
}
x-card:hover {
  outline: 4px solid black;
}
#prize {
  text-align: center;
  padding: 1em 0;
  background: #ffc50f;
  color: black;
}
#prize .clicky {
  color: #ffffff;
  background: #000000;
  padding: 0.2em 0.5em;
  vertical-align: baseline;
  margin-left: .5em;
}
#prize .clicky:hover,
#prize .clicky:focus,
#prize .clicky.active {
  background: #ffffff;
  color: #000000;
}
#prize i.icon-large {
  font-size: 3em;
  vertical-align: middle;
}
.efnw#masthead {
  background: linear-gradient(to bottom, #85e6e8, #ffffff);
  color: black;
}
.efnw#masthead .clicky {
  background: #000000;
  border: 2px solid #000000;
  color: #ffffff;
}
.efnw#masthead .clicky:hover,
.efnw#masthead .clicky:focus,
.efnw#masthead .clicky.active {
  background: #ffffff;
  color: white;
}
.efnw#masthead .clicky:hover {
  color: black;
}
.contact#masthead {
  display: block;
  padding-bottom: 0;
}
.contact#masthead x-c {
  background-image: url(/images/pixel-wave.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
.contact#masthead .clicky {
  background: #000000;
  border: 2px solid #000000;
  color: #ffffff;
}
.contact#masthead .clicky:hover,
.contact#masthead .clicky:focus,
.contact#masthead .clicky.active {
  background: #ffffff;
  color: white;
}
.contact#masthead .clicky:hover {
  color: black;
}
.contact#form {
  padding: 0;
}
.contact#form x-c {
  padding: 0px 2em 50px 2em;
  background: white;
}
.hackerchat#masthead {
  background-color: #1F1F1F;
  background-image: url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/dark_matter.png);
}
.hackerchat#masthead .clicky {
  background: #5a9570;
  border: 2px solid #5a9570;
  color: #ffffff;
}
.hackerchat#masthead .clicky:hover,
.hackerchat#masthead .clicky:focus,
.hackerchat#masthead .clicky.active {
  background: #ffffff;
  color: white;
}
.hackerchat#masthead .clicky:hover {
  color: #5a9570;
}
.hackerchat.pitch {
  background: #1F1F1F;
  color: white;
}
footer {
  background: #4d3f32;
  color: #ffffff;
  padding: 1em 0;
}
footer .icon-heart {
  color: #ff0086;
}
.visible-mobile,
.hidden-desktop {
  visibility: hidden;
  display: none;
}
.visible-desktop,
.hidden-mobile {
  visibility: visible;
}
@media (max-width: 1136px) {
  .visible-mobile,
  .hidden-desktop {
    visibility: visible;
    display: block;
  }
  .visible-desktop,
  .hidden-mobile {
    visibility: hidden;
    display: none;
  }
  x-col[size="1"] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  x-col[size="2"] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  x-col[size="3"] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  x-col[size="4"] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  x-col[size="5"] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  x-col[size="6"] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  x-col[size="7"] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  x-col[size="8"] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  x-col[size="9"] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  x-col[size="10"] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  x-col[size="11"] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  x-col[size="12"] {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
}
@media (max-width: 1136px) and (min-width: 1136px) {
  x-col[size="1"] {
    float: left;
    width: 100%;
  }
}
@media (max-width: 1136px) and (min-width: 1136px) {
  x-col[size="2"] {
    float: left;
    width: 100%;
  }
}
@media (max-width: 1136px) and (min-width: 1136px) {
  x-col[size="3"] {
    float: left;
    width: 100%;
  }
}
@media (max-width: 1136px) and (min-width: 1136px) {
  x-col[size="4"] {
    float: left;
    width: 100%;
  }
}
@media (max-width: 1136px) and (min-width: 1136px) {
  x-col[size="5"] {
    float: left;
    width: 100%;
  }
}
@media (max-width: 1136px) and (min-width: 1136px) {
  x-col[size="6"] {
    float: left;
    width: 100%;
  }
}
@media (max-width: 1136px) and (min-width: 1136px) {
  x-col[size="7"] {
    float: left;
    width: 100%;
  }
}
@media (max-width: 1136px) and (min-width: 1136px) {
  x-col[size="8"] {
    float: left;
    width: 100%;
  }
}
@media (max-width: 1136px) and (min-width: 1136px) {
  x-col[size="9"] {
    float: left;
    width: 100%;
  }
}
@media (max-width: 1136px) and (min-width: 1136px) {
  x-col[size="10"] {
    float: left;
    width: 100%;
  }
}
@media (max-width: 1136px) and (min-width: 1136px) {
  x-col[size="11"] {
    float: left;
    width: 100%;
  }
}
@media (max-width: 1136px) and (min-width: 1136px) {
  x-col[size="12"] {
    float: left;
    width: 100%;
  }
}
