// Brand Colors
@white:         white;
@ltgray:        #becfcf;
@gray:          #9da4a4;
@dkgray:        #777d7d;
@black:         black;

@teal:          #039997;
@red:           #FA3436;
@ltgreen:       #F8F6A6;
@green:         #5A9570;
@brown:         #CA9867;
@yellow:        #FFC50F;
@orange:        #e67e22;
@purple:        #949599;
@tan:           #DDD0B7;
@brown:         #4D3F32;

// @red:           #F21D41;
@pink:          #ff0086;
// @yellow:        #DDD0B7;
// @green:         #86E457;
@blue:          #DDD0B7;
@seabreeze:     #77CCA4;
@navy:          #40A6A1;
// @purple:        #9c32c3;
@violet:        #293258;

@brand:         @violet;

// Typography
@font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         @font-size-base * 1.25; // ~18px
@font-size-small:         @font-size-base * 0.85; // ~12px
@font-size-mini:          @font-size-base * 0.75; // ~11px

@line-height-base:        1.4;

@headings-font-family:    inherit; // empty to use BS default, @font-family-base
@headings-font-weight:    500;

// Grid
// Used with the grid mixins below
@grid-columns:          12;
@grid-column-padding:   15px; // Left and right inner padding
@grid-float-breakpoint: 1024px  ; // 852px; // 768px


@mobile: @grid-float-breakpoint;