<nav id="mane">
  <!-- I know, these are web components! -->
  <x-c>
    <x-man><menu class="left">
      <li>
        <a href="#/">
          <strong>Victor Lourng</strong>
        </a>
      </li>
      <li>
        <a href="#/">
          Home
        </a>
      </li><li>
        <a href="#/about">
          About
        </a>
      </li><li>
        <a href="#/projects">
          Projects
        </a>
      </li><li>
        <a href="#/contact">
          Contact
        </a>
      </li>
    </menu></x-man><menu class="right">
      <li class="twitter">
        <a href="http://twitter.com/lablayers" target="_blank">
          <i class="icon-twitter"></i>
        </a>
      </li><li class="github">
        <a href="http://github.com/lablayers" target="_blank">
          <i class="icon-github"></i>
        </a>
      </li><li class="dribbble">
        <a href="http://dribbble.com/lablayers" target="_blank">
          <i class="icon-dribbble"></i>
        </a>
      </li>
    </menu>
  </x-c>
</nav>