<!-- <nav id="mane">
  <x-c>
    <x-man><menu class="left">
      <li>
        <a href="#/">
          <strong>Victor Lourng</strong>
        </a>
      </li>
      <li>
        <a href="#/">
          Home
        </a>
      </li><li>
        <a href="#/about">
          About
        </a>
      </li><li>
        <a href="#/projects">
          Projects
        </a>
      </li><li>
        <a href="#/contact">
          Contact
        </a>
      </li>
    </menu></x-man><menu class="right">
      <li class="twitter">
        <a href="http://twitter.com/lablayers" target="_blank">
          <i class="icon-twitter"></i>
        </a>
      </li><li class="github">
        <a href="http://github.com/lablayers" target="_blank">
          <i class="icon-github"></i>
        </a>
      </li><li class="dribbble">
        <a href="http://dribbble.com/lablayers" target="_blank">
          <i class="icon-dribbble"></i>
        </a>
      </li>
    </menu>
  </x-c>
</nav> -->

<nav id="neue">
    <menu class="navigation">
      <li>
        <a href="#/" class="brand">
          <strong>Victor Lourng</strong>
        </a>
      </li>
      <li>
        <i class="icon-right"></i>
      </li>
    </menu>
    <menu>
      <li>
        <a href="#/holiday" class="active">
          <span>Holiday  <i class="icon-menu"></i></span>
        </a>
      </li>
    </menu>
    <menu class="right">
      <li class="twitter">
        <a href="http://twitter.com/lablayers" target="_blank">
          <i class="icon-twitter"></i>
        </a>
      </li><li class="github">
        <a href="http://github.com/lablayers" target="_blank">
          <i class="icon-github"></i>
        </a>
      </li><li class="dribbble">
        <a href="http://dribbble.com/lablayers" target="_blank">
          <i class="icon-dribbble"></i>
        </a>
      </li>
    </menu>
</nav>